@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Inter:wght@300;600;700;800&display=swap');


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-size: 15px;
    color: #666;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

input,
textarea,
select,


textarea {
    resize: none;
}

:focus {
    outline: none;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('/assets/img/bg-registration-form-6.jpg') no-repeat center center;
    background-size: cover;
}

.inner {
    min-width: 861px;
    transform: translateX(47px);
    margin: auto;
    display: flex;
    background: #fff;
    border-radius: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin-top: 8rem;
    margin-bottom: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    direction: ltr;
}

.image-holder img {
    border-radius: 15px;
}

form {
    padding-top: 42px;
    min-width: 63.88%;
    transform: translateX(-34px);
}

h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 21px;
    color: #333;
    text-transform: uppercase;
}

.form-control {
    height: 47px;
    display: block;
    border: 1px solid #e6e6e6;
    background: none;
    border-radius: 5px;
    padding: 0 19px;
    margin-right: 11px;

    &:focus {
        border: 1px solid #f4d5cc;
    }

    &::-webkit-input-placeholder {
        color: #999;
    }

    &::-moz-placeholder {
        color: #999;
    }

    &:-ms-input-placeholder {
        color: #999;
    }

    &:-moz-placeholder {
        color: #999;
    }
}


.form-row {
    display: flex;
    margin-bottom: 20px;
}

.form-row .form-holder {
    width: 100%;
    margin-right: 11px;
}

.form-holder i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

button {
    height: 47px;
    width: 174px;
    display: flex;
    border: none;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    font-family: "Inter";
    border-radius: 5px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.wrapper button {
    background: #84cde1;
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
    .inner {
        min-width: auto;
        max-width: 660px;
    }

    form {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    .inner {
        display: block;
        transform: translateX(0);
        border-radius: 0;
        box-shadow: none;
    }

    .image-holder {
        img {
            transform: translateX(0);
            border-radius: 0;
        }
    }

    form {
        transform: translateX(0);
        padding-top: 40px;
    }

    .form-row {
        display: block;
    }

    .wrapper {
        background: none;

    }
}